.champions-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 15px;
}

.champion {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 22px;
	font-weight: 900;
	transition: 0.2s;
}

.champion:hover {
	background-color: #efefef;
	cursor: pointer;
}

.champions-container img {
	height: auto;
	width: 100%;
}
